/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #0f172a;       /* Azul muy oscuro (casi negro) */
    --card-bg: #1e293b;        /* Azul grisáceo para tarjetas */
    --text-main: #e2e8f0;      /* Blanco suave */
    --text-muted: #94a3b8;     /* Gris para subtítulos */
    --accent: #38bdf8;         /* Azul brillante (Cyan) */
    --border: #334155;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    line-height: 1.6;
    padding: 2rem 1rem;
}

/* CONTENEDOR PRINCIPAL */
.container {
    max-width: 700px; /* Ancho limitado para que sea vea elegante (tipo Notion) */
    margin: 0 auto;
}

/* HEADER */
.profile {
    margin-bottom: 3rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.subtitle {
    color: var(--text-muted);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.social-links a {
    color: var(--accent);
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: opacity 0.2s;
}

.social-links a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* SECCIONES GENERALES */
section {
    margin-bottom: 4rem;
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--text-muted);
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.5rem;
}

/* TARJETAS DE PROYECTOS */
.grid {
    display: grid;
    gap: 1.5rem;
}

img {
    border-radius: 40px;
}

.card {
    background: var(--card-bg);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--border);
    transition: transform 0.2s, border-color 0.2s;
}

.card:hover {
    transform: translateY(-3px);
    border-color: var(--accent);
}

.card h3 {
    margin-bottom: 0.5rem;
    color: #fff;
}

.card p {
    color: var(--text-muted);
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

/* TAGS (ETIQUETAS) */
.tags {
    margin-bottom: 1.5rem;
}

.tags span {
    background-color: rgba(56, 189, 248, 0.1); /* Color acento transparente */
    color: var(--accent);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    margin-right: 5px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
}

.btn::after {
    content: " →";
}

.btn:hover {
    color: var(--accent);
}

footer {
    text-align: center;
    color: var(--text-muted);
    font-size: 0.8rem;
    margin-top: 4rem;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .container {
        padding: 0;
    }
}